body {
  background-color: rgb(134, 115, 6);
  color: rgb(241, 186, 4);
  font-family: 'Piedra', cursive;
}
.card{
  color:black;
}
.submit {
  margin: 10px;
}

img {
  width: 25%;
}

.enter_section {
  margin: 10px;
}

.burger-row {
  margin: 10px;
}